body {
    height: 100vh;
}
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
#getCep {
    padding: 8px;
    outline: none;
}
.container-info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.span-cep {
    color: #f00;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}